@font-face {
    font-family: "lai";
    src: url("../story/setofont.ttf");
}

body,
html {
    font-family: "lai",'微軟正黑體';
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}
img{
    width: 100;
    height: 100%;
}
p{
    font-size: 14px;
}

body .hide p{
    display: none;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

header {
    background-color: #f2f4d9;
}

.logo{
    width: 180px;
    height: 60px;
    float: left;
    margin: 5px 20px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    margin-left: 170px;
}

nav li {
    display: inline;
    margin: 15px;
    line-height: 70px;
}

nav li a {
    color: #5a5959;
    text-decoration: none;
    line-height: 70px;
}

nav li a:hover {
    color: white;
    background: url("../img/nav_pink.png");
    background-size: 100% 100%;
}

.content{
    width: 100%;
    height: 95vh;
    background-image: url(../img/diary/bg.jpg);
    background-position:50% 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    left: 10%;
}

.btn{
    position: absolute;
    line-height: 92px;
    color: white;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}

.btn:hover{
    color: rgb(213,102,80);
}

.btn1{
    width: 200px;
    height:100px;
    background-image: url(../img/diary/btn1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:15%;
    right: 67%;
    padding-left: 40px;
}

.btn2{
    width: 200px;
    height:100px;
    background-image: url(../img/diary/btn2.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:42%;
    right: 67.5%;
    padding-left: 40px;
}

.btn3{
    width: 200px;
    height:100px;
    background-image: url(../img/diary/btn3.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:70%;
    right: 61.5%;
    padding-left: 40px;
}

.btn4{
    width: 200px;
    height:100px;
    background-image: url(../img/diary/btn4.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:16%;
    left: 64%;
    padding-left: 105px;
    line-height: 100px;
}

.btn5{
    width: 200px;
    height:100px;
    background-image: url(../img/diary/btn5.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:60%;
    left: 63%;
    padding-left: 105px;
    line-height: 98px;
}

.people{
    width: 17%;
    height: 33%;
    position: absolute;
    z-index: 5;
    top:35%;
    left: 54.5%;
}
#in-1,#in-2,#in-3,#in-4,#in-5{
    position: absolute;   
    display: none;
    line-height: 17px;
}
#in-1{
    width:180px;
    position: absolute;
    top:29%;
    right: 69%;
}

#in-2{
    width:240px;
    position: absolute;
    top:56%;
    right: 66.5%;
}

#in-3{
    width:280px;
    position: absolute;
    top:84%;
    right: 56.5%;
}

#in-4{
    width:220px;
    position: absolute;
    top:31%;
    left: 63%;    
    padding-left: 30px;
}

#in-5{
    width:280px;
    position: absolute;
    top:75%;
    left: 62%;
    padding-left: 30px;
}
.title{
    width: 15%;
    height: 80%;
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 5%;
    background-image: url(../img/diary/title.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



@media screen and (min-width: 736px) and (max-width: 1024px) {

    nav li {
        display: inline;
        margin: 0px;
        line-height: 70px;
        font-size: 15px;
    }

    .btn1, .btn2, .btn3, .btn4, .btn5{
        width: 130px;
        height:70px;
        line-height: 58px;
        font-size: 16px;
    }
    .btn1{
        top:23%;
        right: 66%;
        padding-left: 25px;
    }

    .btn2{
        top:44%;
        right: 67%;
        padding-left: 25px;
    }

    .btn3{
        top:65%;
        right: 61.5%;
        padding-left: 25px;
    }

    .btn4{
        top:23.5%;
        left: 62%;
        padding-left: 77px;
        line-height: 67px;
    }

    .btn5{
        top:56%;
        left: 62%;
        padding-left: 77px;
        line-height: 67px;
    }

    #in-1,#in-2,#in-3,#in-4,#in-5{
        line-height: 15px;
        font-size: 14px;
        text-align: center;
    }

    #in-1{
        width:180px;
        position: absolute;
        top:33%;
        right: 65%;
    }

    #in-2{
        width:240px;
        position: absolute;
        top:54%;
        right: 63%;
    }

    #in-3{
        width:280px;
        position: absolute;
        top:75%;
        right: 52.5%;
    }

    #in-4{
        width:180px;
        position: absolute;
        top:34.5%;
        left: 59.5%;    
        padding-left: 30px;
    }

    #in-5{
        width:180px;
        position: absolute;
        top:67.5%;
        left: 58.5%;
        padding-left: 30px;
    }

    .title{
        width: 10%;
        height: 80%;
        position: absolute;
        z-index: 5;
        top: 15%;
        left: 5%;
        background-image: url(../img/diary/title.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .people{
        width: 10%;
        height: 25%;
        position: absolute;
        z-index: 5;
        top:39%;
        left: 54.5%;
    }
}

@media screen and (min-width: 667px) and (max-width: 736px) {
    nav li {
        display: inline;
        margin: 0px;
        line-height: 70px;
        font-size: 13.6px;
    }

    .btn1, .btn2, .btn3, .btn4, .btn5{
        width: 120px;
        height:60px;
        line-height: 58px;
        font-size: 16px;
    }
    .btn1{
        top:27%;
        right: 69%;
        padding-left: 20px;
    }

    .btn2{
        top:42%;
        right: 70%;
        padding-left: 20px;
    }

    .btn3{
        top:65%;
        right: 62.5%;
        padding-left: 20px;
    }

    .btn4{
        top:21.5%;
        left: 65%;
        padding-left: 65px;
        line-height: 60px;
    }

    .btn5{
        top:56%;
        left: 65%;
        padding-left: 65px;
        line-height: 60px;
    }

    #in-1,#in-2,#in-3,#in-4,#in-5{
        line-height: 15px;
        font-size: 12px;
        text-align: center;
    }

    #in-1{
        width:180px;
        position: absolute;
        top:31.5%;
        right: 68%;
    }

    #in-2{
        width:240px;
        position: absolute;
        top:53.5%;
        right: 66%;
    }

    #in-3{
        width:280px;
        position: absolute;
        top:76.5%;
        right: 55.5%;
    }

    #in-4{
        width:180px;
        position: absolute;
        top:35%;
        left: 62.5%;    
        padding-left: 30px;
    }

    #in-5{
        width:180px;
        position: absolute;
        top:69%;
        left: 62.5%;
        padding-left: 30px;
    }

    .title{
        width: 10%;
        height: 80%;
        position: absolute;
        z-index: 5;
        top: 18%;
        left: 5%;
        background-image: url(../img/diary/title.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .people{
        width: 10%;
        height: 25%;
        position: absolute;
        z-index: 5;
        top:39%;
        left: 54.5%;
    }
}

@media screen and (max-width: 667px) {
    
    .logo{
        width: 150px;
        height: 50px;
        float: left;
        margin: 5px 20px;
    }
    nav li {
        display: inline;
        margin: 0px;
        line-height: 70px;
        font-size: 13.6px;
    }

    .btn1, .btn2, .btn3, .btn4, .btn5{
        width: 100px;
        height:50px;
        line-height: 47px;
        font-size: 12px;
    }
    .btn1{
        top:20%;
        right: 69%;
        padding-left: 19px;
    }

    .btn2{
        top:42%;
        right: 70%;
        padding-left: 19px;
    }

    .btn3{
        top:65%;
        right: 62.5%;
        padding-left: 19px;
    }

    .btn4{
        top:21.5%;
        left: 65%;
        padding-left: 55px;
        line-height: 50px;
    }

    .btn5{
        top:56%;
        left: 65%;
        padding-left: 55px;
        line-height: 50px;
    }

    #in-1,#in-2,#in-3,#in-4,#in-5{
        line-height: 12px;
        font-size: 8px;
        text-align: center;
    }

    #in-1{
        width:180px;
        position: absolute;
        top:31.5%;
        right: 64%;
    }

    #in-2{
        width:240px;
        position: absolute;
        top:53.5%;
        right: 60%;
    }

    #in-3{
        width:280px;
        position: absolute;
        top:76.5%;
        right: 49.5%;
    }

    #in-4{
        width:130px;
        position: absolute;
        top:34%;
        left: 60%;    
    }

    #in-5{
        width:180px;
        position: absolute;
        top:68%;
        left: 57%;
        padding-left: 30px;
    }

    .title{
        width: 10%;
        height: 70%;
        position: absolute;
        z-index: 5;
        top: 25%;
        left: 5%;
        background-image: url(../img/diary/title.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .people{
        width: 10%;
        height: 25%;
        position: absolute;
        z-index: 5;
        top:47%;
        left: 54.5%;
    }
}

@media screen and (orientation:portrait) {
    body .wrap{
        display: none;
    }

    body{
        background: #f2f4d9;
    }

    .hide{
        top: 45%;
        margin: 0 auto;
        position: absolute;
        width: 100vw;
    }

    body .hide p{
        display: block;
        color: #5a5959;
        font-size: 26px;
        text-align: center;
    }
}