@font-face {
    font-family: "lai";
    src: url("../story/setofont.ttf");
}

body{
    width:100%;
    height:100vh;
    background-color:rgb(243, 220, 166);
    font-family: "lai",'微軟正黑體';
    font-size: 20px;
    overflow: hidden;
    color: #5a5959;    
    -webkit-text-size-adjust: 100%;
}

p{
    display: none;
}

img{
    width: 100%;
}
.hr{
    border-style: solid;
    size: 0.3px;
    width:100%; 
    border-color:#6f6f6f;
}
.wrap{
    width:100%;
    height:100vh;
}

.bg{
    height:100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-image: url(../img/index/index-bg.png);
    background-position: 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width:22%;
    height: auto;
    margin-left: 39%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.nav{
    width:80%;
    margin-left: 10%;    
}

.nav ul{
    display: flex;
    justify-content:space-around;
}

.nav li{
    margin-left: 10px;
    margin-right: 10px;
    z-index: 5;
}

.nav a{
    color: #5a5959;
    text-decoration: none;
}

.nav a:hover{
    color: white;
    background: url("../img/nav_pink.png");
    background-size: 100% 100%;
}

.pics{
    position: absolute;
    z-index: 2;
    width:70%;
    height:60vh;
    margin-left: 15%;
    margin-top:3.5%;
}

.pic{
    height:25vh;
    width: auto;
}
.pic:hover{
    opacity: .6;
}

#fireman{
    width:100%;
    height: 100%;
    background-image: url(../img/index/people-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100% ;
}

#fireman-wrap{
    width:38%;
    height: 70vh;
    position: absolute;
    bottom:  -10%;
    margin-left: 32.5%;
}

.bee{
    float: left;
    margin-top: 22%;
}

.couple{
    float: right;
    margin-top: 22%;
}

.wallet{
    float: right;
}

.door{
    float: left;
}


/*滑鼠移進*/

@keyframes mousein {
    0% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);
    }
    100% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);
    }
}
@-moz-keyframes mousein {
    0% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);
    }
    100% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);
    }
}
@-webkit-keyframes mousein {
    0% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);
    }
    100% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);
    }
}


/*滑鼠移出*/

@keyframes mouseout {
    0% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);

    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    100% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);
    }
}
@-moz-keyframes mouseout {
    0% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);

    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    100% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);
    }
}
@-webkit-keyframes mouseout {
    0% {
        transform: rotateY(180deg);
        background-image: url(../img/index/people-2.png);

    }
    50% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-2.png);

    }
    51% {
        transform: rotateY(90deg);
        background-image: url(../img/index/people-1.png);
    }
    100% {
        transform: rotateY(0);
        background-image: url(../img/index/people-1.png);
    }
}


.mouseout {
    animation: mouseout .5s;
    /*IE*/
    -moz-animation: mouseout .5s;
    /*FireFox*/
    -webkit-animation: mouseout .5s;
    /*Chrome, Safari*/
    animation-fill-mode: both;
}

.mousein {
    animation: mousein .5s;
    /*IE*/
    -moz-animation: mousein .5s;
    /*FireFox*/
    -webkit-animation: mousein .5s;
    /*Chrome, Safari*/
    animation-fill-mode: both;
}


@media screen and (min-width: 736px) and (max-width: 1024px) {
    .bg{
        background-position: 50% 70%;
        background-size: cover;
    }
    body{
        font-size: 16px;
    }
    .nav{
        width:90%;
        margin-left: 5%;    
    }
    .nav li{
        margin-left: 10px;
        margin-right: 10px;
        z-index: 5;
    }
    .pic{
        height:120px;
        width: auto;
    }

    .pics{
        position: absolute;
        z-index: 2;
        width:84%;
        height:80%;
        margin-left: 8%;
        margin-top:3.5%;
    }

    #fireman{
        width:100%;
        height: 100%;
        background-image: url(../img/index/people-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100% ;
    }

    #fireman-wrap{
        width:30%;
        height: 80%;
        position: absolute;
        bottom:  15%;
        margin-left: 35%;
    }
}





@media screen and (min-width: 667px) and (max-width: 736px) {
    .bg{
        background-position: 50% 70%;
        background-size: cover;
    }
    body{
        font-size: 16px;
    }
    .nav{
        width:90%;
        margin-left: 5%;    
    }
    .nav li{
        margin-left: 10px;
        margin-right: 10px;
        z-index: 5;
    }
    .pic{
        height:120px;
        width: auto;
    }

    .pics{
        position: absolute;
        z-index: 2;
        width:84%;
        height:80%;
        margin-left: 8%;
        margin-top:3.5%;
    }

    #fireman{
        width:100%;
        height: 100%;
        background-image: url(../img/index/people-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100% ;
    }

    #fireman-wrap{
        width:30%;
        height: 80%;
        position: absolute;
        bottom:  15%;
        margin-left: 35%;
    }
}

@media screen and (max-width: 667px) {
    .bg{
        background-position: 50% 70%;
        background-size: cover;
    }

    body{
        font-size: 13px;
    }
    .nav{
        width:90%;
        margin-left: 5%;    
    }
    .nav li{
        margin-left: 0px;
        margin-right: 0px;
        z-index: 5;
    }
    .pic{
        height:90px;
        width: auto;
    }

    .pics{
        position: absolute;
        z-index: 2;
        width:84%;
        height:80%;
        margin-left: 8%;
        margin-top:3.5%;
    }

    #fireman{
        width:100%;
        height: 100%;
        background-image: url(../img/index/people-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100% ;
    }

    #fireman-wrap{
        width:30%;
        height: 80%;
        position: absolute;
        bottom:  15%;
        margin-left: 35%;
    }
}

@media screen and (orientation:portrait) {
    body .wrap{
        display: none;
    }

    body{
        background: #f2f4d9;
    }

    .hide{
        top: 45%;
        margin: 0 auto;
        position: absolute;
        width: 100vw;
    }

    .hide p{
        display: block;
        color: #5a5959;
        font-size: 26px;
        text-align: center;
    }
}

